@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
    <div class="alert alert-danger" role="alert">
        <h1 class="display-4">Oops!</h1>
        <p class="fs-2 text-danger">Brak Dostępu!</p>
        <p class="lead">Nie masz dostępu do tego zasobu!</p>
        <hr />
        <a class="btn btn-primary" href="/" role="button">Powrót na stronę główną</a>
    </div>